@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! I'm deployng an app hosted in GH with Azure Pipelines!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>